  {% extends "base.html" %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lilita+One|Montserrat|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
<style>
    .form-control
    {
        border: 1px solid gold;
        width:90px;

    }
    .form-control:hover
    {
        width: 150px;
        transition: 0.5s;
    }
    .tr:hover
    {
      
      transition: 0.5s ease-in;
      background-color: lightblue;
    }
</style>
</head>
<body>


<!DOCTYPE html>
<html lang="en">

</head>
<body>
  <div  class="container-fluid" style="    background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); height: 700px;" >
  
    <br>
    
   <div class="row">
     <div class="col-lg-1">

     </div>
     <div class="col-lg-10">
      <table class="table" style="background-color: azure;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for i in user_followers %}
          <tr class="tr">
            <th scope="row">1</th>
            <td><a href = "/profile/{{i.username}}/"> <img  src="/static/{{i.profile_pic}}" class="img-fluid" style="border-radius: 50%; height: 60px; width: 60px;" alt=""> &nbsp; &nbsp; {{i.username}} </td></a>
            <td>
              <br>
              </td>
            <td>
              <br>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <div class="col-lg-1">

      </div>
      
    
    
  </body>
  </html>
  
  {% endblock %}
  
    
    