.navbar
{
	
}
.navbar-nav{
	margin-left: auto;
}

.nav-link{
	padding: 0 18px;
}


.top{
	background-image:  url(image/banner.jpg);
		background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
	height: 800px;
	width: max-content;
}
.navbar-brand{
	font-size: 3.5rem;
	font-weight: bold;
	
}

.top h1{
	color:black;
	margin: 0px auto;
	font-family: 'Lilita One';
	font-size: 90px;
	opacity: 0.8;
}
.ab{
	align-content: center;
}
.aa{
	height: 240px;
}
.down-butt{
	margin: 4px;
}

.nav-link
{
	margin-right: 20px;
}
 .btn a:hover
 {
	 text-decoration: none;
 }





.m
{
	height: 1000px;
	position: relative;
	top: 100px;
	left: 30px;
}
.team
{
background-color: s;
}

 .card
 {
	 background-color: gray;
	 
	 height: 250px;
	 width: 250px;
	 
	 perspective: 1000px;


 }
 .card-inner {
	 
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
  }
 .card:hover .card-inner
 {
	 transform: rotateY(180deg);
 }
 .card-front, .card-back {
	position: absolute;
	width: 250px;
	height: 250px;
	backface-visibility: hidden;
  }
  .card-front {
	background-color: black;
	color: black;
  }
  
  /* Style the back side */
  .card-back {
	background-color: seagreen;
	color: whitesmoke;
	transform: rotateY(180deg);
  }