html
{
 font-size: 15px;
scroll-behavior: smooth;
}
.navbar-nav{
	margin-left: auto;
}

.nav-link{
	display: inline;
	padding: 0 18px;
}


.logo
{
	background-color: black;
	
	background-image: url(../image/logo\ \(2\).jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 600px;
	
	
}

.top h1{
	color:black;
	margin: 0px auto;
	font-family: 'Lilita One';
	font-size: 90px;
	opacity: 0.8;
}


.nav-link
{
	margin-right: 20px;
}
 .btn a:hover
 {
	 text-decoration: none;
 }


.mem-name
{   
	
	position: absolute;
	left: 60px;
	bottom: 30px;
	font-family:'Montserrat',sans-serif!important;;
	font-weight: 900;
	
	font-size: 1.1rem;
}


.m
{
	height: 1000px;
	position: relative;
	top: 100px;
	left: 30px;
}

#boy
{
	height: 350px;
}
 
  /* for rounder cards to look op*/
.maa 
{

	border-radius: 30px ;
	
}
.map1{
	
	border-radius: 500px;
		float: left;
	padding-right: 20px;
  }
  
 
  .tt{
	text-align: center;
  }

  .cv1{
	height: 120px;
	padding-top: 45px;
}

.cv1 a{
	text-decoration: none;
	background-color:none;
	color:black;
    border:black 2.6px solid;
	border-radius: 20%;
	padding: 3px;
}

.cv1 a:hover{
	border: whitesmoke 2.6px solid;
/*	background-color:darkslategrey;*/
	color:whitesmoke;
	text-decoration: none;
	opacity: 0.7;
}

.services{
	background-color:darkorange;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.land
{
	background-color: black;
	
		background-image: url(../image/logo\ \(2\)1.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 600px;
}

.vb h3{
	font-size:50px;
	margin:40px;
	
	text-decoration: underline bold;
	margin-left: auto;
	margin-right: auto;
	font-family:sans-serif;
	margin-bottom: 8px;
}
.bunkar
{
	margin-top: 10px;  text-shadow: 4px 4px black; float: left; font-size: 4.3em; color: white; margin-left: 60px;
}
.aa2
{
	font-weight: 500; width: 100%;
}
#ast1
{
	height: 400px;
}
@media screen and  (max-width: 580px) {
	 .aa2{ font-size: 14px;margin-left: -15px; margin-top: -20px;}
	.land{ height: 206px; }
	
	#ast1{ height: 200px;}
	.bunkar{ font-size: 40px; border-bottom: 2px solid white;}	

	#boy{ height: 180px; }
  }

.car{
	border-radius: 10px;
	margin-bottom: 20px;
	height: 400px;
	width: 450px;
}
.box
{     height: 100px;
	width: 100px;
	 box-shadow:  5px 5px 5px 5px gray;
	
}
.hh{
	margin: auto;
    opacity:1;
}
.aa
{
	background-image: url(../image/graphicD.svg);
}


.zz
{
	background-image: url(image/scg-canvas-background-animation-6.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
}




.dd
{
	background-image: url(image/boy.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.ad
{
	
	background-image: url(../image/avatar-2155431__340.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
.side1
{
	
	height: 200px;
	width: 200px;
	background-color: gray;
}
.blog:hover
{
	box-shadow: 2px 2px black;
}
.sign:hover
{
	background-color: black;
	transition: 0.3s;
}

.vv
{
	 height: 60px ;
	 width: 100px;
	 border-radius: 8px;
	 background-color: black;
}
.boy1
{
	height: 350px;
}
.vv:hover
{
  width: 150px;
	transition: 0.5s;
}


 @media (max-width: 990px)
 {
	#si { margin-top: 50px;}

	#mast1{ height: 200px; width: 300px;}	
 }

 
@media (max-width: 768px) { 
	.subbtn{ margin-left: 20%; }
	#care{ margin-top: 200px; height: 200px;}
	.boy1{ opacity: 0;}

	#wedo { margin-top: 180px;}
    
 }
 
@media (max-width: 576px) { 

	.subbtn{ margin-left: 0%; }
	#masti1{height: 200px;}
 }
 

 .form1
 {
	background-image: url(/image/wallpaper.png);
	background-position: center;
	background-size: cover;
 }

 .card
 {
	 opacity: 1;
 }


 .wwe{
	
	
	opacity: 1;
	font-size: 55px;
}
#b
{
	color: blueviolet;
	font-weight: 600;

}
.subbtn
{
	color: white;
	
	margin-left: 40%;
	border:  1px solid white;
	padding: 10px 120px ;
	border-radius: 30px;
	text-decoration: none;
	font-weight: 700;
	
	
}
.subbtn:hover
{
	
	color: black;
	text-decoration: none;
	background-color: white;
	transition: 0.4s ease-in-out;

}




.aa3
{
	opacity: 1;
}
