<html>
    <head>

      {% if title %}
      <title>{{ title }} </title>
      {% else %}
      <title>Welcome to bunker</title>
      {% endif %}



        
        
        <nav class="navbar navbar-expand-sm navbar-dark fixed bg-dark">
      <a href="/index/" class="navbar-brand"><strong><em>KACHI DEVS</em></strong></a>
      <span class="navbar-text"></span>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mymenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pl-5" id="mymenu">
      <ul class="navbar-nav customnav" >
        {% if not current_user.is_authenticated %}
        <li class="nav-item"><a href="/signup/" class="nav-link">REGISTER</a></li>
        {% endif %}
        <li class="nav-item"><a href="https://github.com/ayush-lab/bunker" target="_blank" class="nav-link">PROJECTS</a></li>
        <li class="nav-item"><a href="/index/" class="nav-link">ABOUT US</a></li>
        {% if current_user.is_authenticated %}
          <li class="nav-item"><a href="/dashboard/" class ="nav-link">DASHBOARD</a></li>
          <li class="nav-item"><a href="/editboard/" class ="nav-link">EDIT DASHBOARD</a></li>
        <li class="nav-item"><a href="/home/" class ="nav-link">MY TIMETABLE</a></li>
        <li class="nav-item"><a href="/profile/{{current_user.username}}" class ="nav-link"> PROFILE</a>
        <li class="nav-item"><a href="/logout/" class="nav-link">LOGOUT</a></li>
        {% else %}
        <li class="nav-item"><a href="/login/" class="nav-link">LOGIN</a></li>
        {% endif %}
      </ul>
      </div>
      
        </nav>
        

      
        {% block content %}{% endblock %}
    </body>

    </head>
</html>