{% extends "base.html" %}

{%block content%}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lilita+One|Montserrat|Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<body class=" form1" >

<div class="container-fluid text-center">
<br>
    <h2 class="wwe">ENTER TOUR TIME-TABLE</h2>
    <div class="container " style="margin-top: 40px;" >


      <!--yele tera form-->
    <form action="/dashboard/" method="POST">


      <div>
        <div class="card  " id="v" style="background-color: aqua;">
          <div class="card-header " id="headingOne">
            <h5 class="mb-0">
                            <em >MONDAY</em>
            
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" >
            <div class="card-body">
            
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            ENTER THE PERIOD NAME:
                            <BR></BR>
                            ENTER THE PRIORITY:
                            <br>
                           <em> box 1 represents: Low priority.</em>
                           <br>
                           <em> box 2 represents: Medium priority.</em>
                           <br>
                           <em> box 3 represents: High priority.</em>

                        </div>

                        <div class="col-lg-1 text-center">


                            <input type="text" class="form-control mb-4" name="sub11" value="{{current_user.time[0].subject}}" style="height:35px; width: 70px;">                           
                          
                              <div class="form-group">
                                  <select class="form-control" id="exampleFormControlSelect1" name="imp11" value="{{current_user.time[0].priority}}" style="width: 62px;">
                                    <option>H</option>
                                    <option>M</option>
                                    <option>L</option>
                                    
                                  </select>
                                </div>
                  
                          
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4"  name="sub12" value="{{current_user.time[1].subject}}" height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1" value="{{current_user.time[1].priority}}" name="imp12" style="width: 62px;">
                                <option  >H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4" name="sub13" value="{{current_user.time[2].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1" value="{{current_user.time[2].priority}}" name="imp13" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                          </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4" name="sub14" value="{{current_user.time[3].subject}}" style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1" value="{{current_user.time[3].priority}}" name="imp14" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4"  name="sub15"  value="{{current_user.time[4].subject}}" style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1" value="{{current_user.time[4].priority}}"  name="imp15" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4" name="sub16"  value="{{current_user.time[5].subject}}" style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1"  value="{{current_user.time[5].priority}}" name="imp16" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4" name="sub17"  value="{{current_user.time[6].subject}}" style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1"  value="{{current_user.time[6].priority}}" name="imp17" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4" name="sub18"   value="{{current_user.time[7].subject}}" style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1"  value="{{current_user.time[7].priority}}"  name="imp18" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                      
                        


                    </div>

                </div>
               </div> 
              

                       </div>
        </div>
        <div class="card" style="background-color: azure;">
          <div class="card-header " id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" id="b"  >
                TUESDAY
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse show" >
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            ENTER THE PERIOD NAME:
                            <BR></BR>
                            ENTER THE PRIORITY:
                            <br>
                           <em> box 1 represents: Low priority.</em>
                           <br>
                           <em> box 2 represents: Medium priority.</em>
                           <br>
                           <em> box 3 represents: High priority.</em>

                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub21" class="form-control mb-4"  value="{{current_user.time[8].subject}}"   style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp21"  value="{{current_user.time[8].priority}}" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub22" class="form-control mb-4"   value="{{current_user.time[9].subject}}" style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp22" id="exampleFormControlSelect1"  value="{{current_user.time[9].priority}}" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>                            </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4"  name="sub23" value="{{current_user.time[10].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp23" id="exampleFormControlSelect1"  value="{{current_user.time[10].priority}}" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub24" class="form-control mb-4"   value="{{current_user.time[11].subject}}" style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp24" id="exampleFormControlSelect1"  value="{{current_user.time[11].priority}}" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub25" class="form-control mb-4"  value="{{current_user.time[12].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp25" id="exampleFormControlSelect1" value="{{current_user.time[12].priority}}"  style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub26" class="form-control mb-4" value="{{current_user.time[13].subject}}"   style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp26" id="exampleFormControlSelect1"  value="{{current_user.time[13].priority}}" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub27" class="form-control mb-4"  value="{{current_user.time[14].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp27" id="exampleFormControlSelect1"  value="{{current_user.time[14].priority}}" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>  </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub28" class="form-control mb-4"  value="{{current_user.time[15].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp28" id="exampleFormControlSelect1"  value="{{current_user.time[15].priority}}" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>  </div>
                        

                        


                    </div>

                </div>
            </div>
          </div>
        </div>
        <div class="card" style="background-color: azure;">
          <div class="card-header " id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" id="b" >
                WEDNESDAY
              </button>
            </h5>
          </div>
          <div id="collapseTwo3" class="collapse show">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            ENTER THE PERIOD NAME:
                            <BR></BR>
                            ENTER THE PRIORITY:
                            <br>
                           <em> box 1 represents: Low priority.</em>
                           <br>
                           <em> box 2 represents: Medium priority.</em>
                           <br>
                           <em> box 3 represents: High priority.</em>

                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4"  name="sub31"  value="{{current_user.time[16].subject}}" style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp31" id="exampleFormControlSelect1" value="{{current_user.time[16].priority}}"  style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4" name="sub32"  value="{{current_user.time[17].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1" name="imp32"  value="{{current_user.time[17].priority}}"  style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>                            </div>
                        <div class="col-lg-1 text-center">
                            <input type="text"  name="sub33" class="form-control mb-4"  value="{{current_user.time[18].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp33"  value="{{current_user.time[18].priority}}" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub34" class="form-control mb-4" value="{{current_user.time[19].subject}}"   style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp34" id="exampleFormControlSelect1"  value="{{current_user.time[19].priority}}" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub35" class="form-control mb-4"  value="{{current_user.time[20].subject}}"   style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp35" id="exampleFormControlSelect1"  value="{{current_user.time[20].priority}}" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub36" class="form-control mb-4"  value="{{current_user.time[21].subject}}"   style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp36" id="exampleFormControlSelect1"  value="{{current_user.time[21].priority}}"  style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub37"  value="{{current_user.time[22].subject}}" class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[22].priority}}"  name="imp37" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>  </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub38"class="form-control mb-4"  value="{{current_user.time[23].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp38"  value="{{current_user.time[23].priority}}"  id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>  </div>
                      

                        


                    </div>

                </div>
            </div>
          </div>
        </div>
        <div class="card" style="background-color: azure;">
          <div class="card-header " id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" id="b" >
                THURSDAY
              </button>
            </h5>
          </div>
          <div id="collapseTwo2" class="collapse show" >
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            ENTER THE PERIOD NAME:
                            <BR></BR>
                            ENTER THE PRIORITY:
                            <br>
                           <em> box 1 represents: Low priority.</em>
                           <br>
                           <em> box 2 represents: Medium priority.</em>
                           <br>
                           <em> box 3 represents: High priority.</em>

                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub41" class="form-control mb-4" value="{{current_user.time[24].subject}}"   style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp41"   id="exampleFormControlSelect1"  value="jk" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub42" class="form-control mb-4"   value="{{current_user.time[25].subject}}" style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp42"  value="{{current_user.time[25].priority}}" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>                            </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub43" class="form-control mb-4"  value="{{current_user.time[26].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp43" value="{{current_user.time[26].priority}}"  id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub44"  value="{{current_user.time[27].subject}}"  class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[27].priority}}" name="imp44"id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub45"  value="{{current_user.time[28].subject}}" class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[28].priority}}" name="imp45" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub46"  value="{{current_user.time[29].subject}}" class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[29].priority}}" name="imp46" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub47"  value="{{current_user.time[30].subject}}" class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[30].priority}}" name="imp47" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>  </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub48"  value="{{current_user.time[31].subject}}" class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[31].priority}}" name="imp48" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>  </div>
                       

                        


                    </div>

                </div>
            </div>
          </div>
        </div>
        <div class="card" style="background-color: aqua;">
          <div class="card-header " id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" id="b" >
                FRIDAY
              </button>
            </h5>
          </div>
          <div id="collapseTwo1" class="collapse show">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            ENTER THE PERIOD NAME:
                            <BR></BR>
                            ENTER THE PRIORITY:
                            <br>
                           <em> box 1 represents: Low priority.</em>
                           <br>
                           <em> box 2 represents: Medium priority.</em>
                           <br>
                           <em> box 3 represents: High priority.</em>

                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub51" class="form-control mb-4"  value="{{current_user.time[32].subject}}"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp51"  value="{{current_user.time[32].priority}}" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub52"  value="{{current_user.time[33].subject}}"  class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[33].priority}}" name="imp52" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>                           
                             </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub53"  value="{{current_user.time[34].subject}}" class="form-control mb-4"  style="height:35px; width: 70px;">  <div class="form-group">                         
                              <select class="form-control" value="{{current_user.time[34].priority}}" name="imp53" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>

                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub54"  value="{{current_user.time[35].subject}}" class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[35].priority}}" name="imp54" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub55" value="{{current_user.time[36].subject}}"  class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" value="{{current_user.time[36].priority}}"  name="imp55" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub56"  value="{{current_user.time[37].subject}}" class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[37].priority}}" name="imp56" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div></div>
                        <div class="col-lg-1 text-center">
                            <input type="text" class="form-control mb-4"  value="{{current_user.time[38].subject}}" name="sub57"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control" name="imp57" value="{{current_user.time[38].priority}}"  id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>  </div>
                        <div class="col-lg-1 text-center">
                            <input type="text" name="sub58"  value="{{current_user.time[39].subject}}" class="form-control mb-4"  style="height:35px; width: 70px;">                           
                            <div class="form-group">
                              <select class="form-control"  value="{{current_user.time[39].priority}}" name="imp58" id="exampleFormControlSelect1" style="width: 62px;">
                                <option>H</option>
                                <option>M</option>
                                <option>L</option>
                                
                              </select>
                            </div>  </div>
                        

                        


                    </div>

                </div>
            </div>
          </div>
        </div>
     
</div>

<p1><button class="button"><b>SUMBIT</b></p1></button>
     </form>


</div>
</div>
<br>
<br>

<div class="container mt-2">


</div>
 
           
<br>
<br>
<br>
<br>
<br>

      
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
   crossorigin="anonymous">
   <script src="js/bootstrap.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</body>
</html>

{% endblock %}