	{% extends "base.html" %}

{%block content%}

	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Table</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap" rel="stylesheet">
	</head>
	<body>

	  <div class="Tit">
		 <p> <p>

	  </div>	  

	  <div class="container hh">
		<table class="table table-hover aa">
			<thead class="thead-dark">
			  <tr>
				<th scope="col"></th>
				<th scope="col">8:30-9:20</th>
				<th scope="col">9:20-10:10</th>
				<th scope="col">10:10-11:00</th>
				<th scope="col">11:00-11:50</th>
				<th scope="col">11:50-12:40</th>
				<th scope="col">12:40-01:30</th>
				<th scope="col">01:30-02:20</th>
				<th scope="col">02:20-03:10</th>
				<th scope="col">03:10-04:00</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<th scope="row">Monday</th>
				  <td ><a href="/Monday/1">{{user[0].subject}}</a></td>
				    <td ><a href="/Monday/2">{{user[1].subject}}</a></td>
				  <td ><a href="/Monday/3">{{user[2].subject}}</a></td>
				   <td ><a href="/Monday/4">{{user[3].subject}}</a></td>
				    <td ><a href="/Monday/5">{{user[4].subject}}</a></td>
				    <td ><a href="/Monday/6">{{user[5].subject}}</a></td>
				    <td ><a href="/Monday/7">{{user[6].subject}}</a></td>
				  <td ><a href="/Monday/8">{{user[7].subject}}</a></td>

			  </tr>

			  <tr>
				<th scope="row">Tuesday</th>
				 <td ><a href="/Tuesday/1">{{user[8].subject}}</a></td>
				   <td ><a href="/Tuesday/2">{{user[9].subject}}</a></td>
				   <td ><a href="/Tuesday/3">{{user[10].subject}}</a></td>
				   <td ><a href="/Tuesday/4">{{user[11].subject}}</a></td>
				 <td ><a href="/Tuesday/5">{{user[12].subject}}</a></td>
				 <td ><a href="/Tuesday/6">{{user[13].subject}}</a></td>
				   <td ><a href="/Tuesday/7">{{user[14].subject}}</a></td>
				   <td ><a href="/Tuesday/8">{{user[15].subject}}</a></td>
				   
			  </tr>
			  <tr>
				<th scope="row">Wednesday</th>
				 <td ><a href="/Wednesday/1">{{user[16].subject}}</a></td>
				<td ><a href="/Wednesday/2">{{user[17].subject}}</a></td>
				 <td ><a href="/Wednesday/3">{{user[18].subject}}</a></td>
				  <td ><a href="/Wednesday/4">{{user[19].subject}}</a></td>
				  <td ><a href="/Wednesday/5">{{user[20].subject}}</a></td>
				<td ><a href="/Wednesday/6">{{user[21].subject}}</a></td>
				<td ><a href="/Wednesday/7">{{user[22].subject}}</a></td>
			<td ><a href="/Wednesday/8">{{user[23].subject}}</a></td>
				  
			  </tr>
			  <tr>
				<th scope="row">Thursday</th>
				  <td ><a href="/Thursday/1">{{user[24].subject}}</a></td>
				 <td ><a href="/Thursday/2">{{user[25].subject}}</a></td>
				 <td ><a href="/Thursday/3">{{user[26].subject}}</a></td>
				<td ><a href="/Thursday/4">{{user[27].subject}}</a></td>
				 <td ><a href="/Thursday/5">{{user[28].subject}}</a></td>
				 <td ><a href="/Thursday/6">{{user[29].subject}}</a></td>
				<td ><a href="/Thursday/7">{{user[30].subject}}</a></td>
				  <td ><a href="/Thursday/8">{{user[31].subject}}</a></td>
			  </tr>
			  <tr>
				<th scope="row">Friday</th>
				 <td ><a href="/Friday/1">{{user[32].subject}}</a></td>
				 <td ><a href="/Friday/2">{{user[33].subject}}</a></td>
				 <td ><a href="/Friday/3">{{user[34].subject}}</a></td>
				<td ><a href="/Friday/4">{{user[34].subject}}</a></td>
				 <td ><a href="/Friday/5">{{user[35].subject}}</a></td>
				 <td ><a href="/Friday/6">{{user[36].subject}}</a></td>
				<td ><a href="/Friday/7">{{user[37].subject}}</a></td>
				  <td ><a href="/Friday/8">{{user[38].subject}}</a></td>
				
			  </tr>
			  
			</tbody>
		  </table>
		</div>
		<div class="container">
			<a href="" class="subbtn">SUBMIT</a>

		</div>

		
		<script src="https://kit.fontawesome.com/79361d7429.js" crossorigin="anonymous"></script>
	</body>
	</html>

	{% endblock %}