	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Table</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/sample.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap" rel="stylesheet">
	</head>
	<body>

	  <div class="Tit">
		 <h1>Mark the Lectures that you can bunk :</h1>
	  </div>	  

	  <div class="container hh">
		<table class="table table-hover aa">
			<thead class="thead-dark">
			  <tr>
				<th scope="col"></th>
				<th scope="col">8:30-9:20</th>
				<th scope="col">9:20-10:10</th>
				<th scope="col">10:10-11:00</th>
				<th scope="col">11:00-11:50</th>
				<th scope="col">11:50-12:40</th>
				<th scope="col">12:40-01:30</th>
				<th scope="col">01:30-02:20</th>
				<th scope="col">02:20-03:10</th>
				<th scope="col">03:10-04:00</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<th scope="row">Monday</th>
				  <td ><a href="#">1</a></td>
				  <td ><a href="#">2</a></td>
				  <td ><a href="#">3</a></td>
				  <td  ><a href="#">4</a></td>
				  <td  ><a href="#">5</a></td>
				  <td ><a href="#">6</a></td>
				  <td  ><a href="#">7</a></td>
				  <td  ><a href="#">8</a></td>
				  <td  ><a href="#">9</a></td>
			  </tr>

			  <tr>
				<th scope="row">Tuesday</th>
				  <td ><a href="#">1</a></td>
				  <td ><a href="#">2</a></td>
				  <td ><a href="#">3</a></td>
				  <td  ><a href="#">4</a></td>
				  <td  ><a href="#">5</a></td>
				  <td ><a href="#">6</a></td>
				  <td  ><a href="#">7</a></td>
				  <td  ><a href="#">8</a></td>
				  <td  ><a href="#">9</a></td>
			  </tr>
			  <tr>
				<th scope="row">Wednesday</th>
				  <td ><a href="#">1</a></td>
				  <td ><a href="#">2</a></td>
				  <td ><a href="#">3</a></td>
				  <td  ><a href="#">4</a></td>
				  <td  ><a href="#">5</a></td>
				  <td ><a href="#">6</a></td>
				  <td  ><a href="#">7</a></td>
				  <td  ><a href="#">8</a></td>
				  <td  ><a href="#">9</a></td>
			  </tr>
			  <tr>
				<th scope="row">Thursday</th>
				  <td ><a href="#">1</a></td>
				  <td ><a href="#">2</a></td>
				  <td ><a href="#">3</a></td>
				  <td  ><a href="#">4</a></td>
				  <td  ><a href="#">5</a></td>
				  <td ><a href="#">6</a></td>
				  <td  ><a href="#">7</a></td>
				  <td  ><a href="#">8</a></td>
				  <td  ><a href="#">9</a></td>
			  </tr>
			  <tr>
				<th scope="row">Friday</th>
				  <td ><a href="#">1</a></td>
				  <td ><a href="#">2</a></td>
				  <td ><a href="#">3</a></td>
				  <td  ><a href="#">4</a></td>
				  <td  ><a href="#">5</a></td>
				  <td ><a href="#">6</a></td>
				  <td  ><a href="#">7</a></td>
				  <td  ><a href="#">8</a></td>
				  <td  ><a href="#">9</a></td>
			  </tr>
			  
			</tbody>
		  </table>
		</div>
		<div class="container">
			<a href="" class="subbtn">SUBMIT</a>

		</div>

		<script src="js/sample.js" ></script>
		<script src="https://kit.fontawesome.com/79361d7429.js" crossorigin="anonymous"></script>
	</body>
	</html>