<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="sign_in.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Sign In</title>
  <script src="https://kit.fontawesome.com/79361d7429.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="signin">

    <div class="row gg">
      <div class="col-lg-6 col-md-6 text">
        <h2><b>Sign In</b></h2><br>
        <div class="social-container row icons">
          <a href="#" class="social"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social"><i class="fa fa-google"></i></a>
          <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
        </div>
        <!-- <input type="text" name="name" placeholder="Username"><br>
	      <input type="password" name="password" placeholder="Password"> -->
        <input type="text" placeholder="Username" class="input">
        <br>
        <input type="password" placeholder="Password" class="input">
        <h5 class="forgot"><a>Forgot your password</a></h5><br>
        <button>Sign In</button>
      </div>
    
      <div class="col-lg-6 col-md-6 wimg"> 
      <img src="{{ url_for('static',filename='img/sign_in_logo') }}">
      </div>

    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>