<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BunKar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style2.css"> 
	<link href="https://fonts.googleapis.com/css?family=Acme|Anton|Kaushan+Script|Lobster|Oswald&display=swap" rel="stylesheet">
	<script src="js/bootstrap.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

</head>
<body>
    
		<div class="vavbar">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark top">
			<a class="navbar-brand" href="#" style="font-size: 20px;">Kachi Devs</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			 <span class="navbar-toggler-icon"></span>
			 </button>
			 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				 <div class="navbar-nav">
					  <a class="nav-item nav-link" href="#">Register<span class="sr-only">(current)</span></a>
					  <a class="nav-item nav-link" href="#">Projects</a>
					  <a class="nav-item nav-link" href="#">About us</a>
					  <a class="nav-item nav-link" href="#">Login</a>
				  </div>
			 </div>
	   </nav>
	   </div>
	
	
	<section>
		<div class="container-fluid con1">
			<div class="row">
				<div class="col-6 aa">	
					<div class="wel">WELCOME</div>
					<p style="margin-top: 30px;font-size: 24px;font-family: 'Lobster', cursive;">Presenting you the bunk-kar?! Are you tired of the shitty old outdated syllabus? Well, bunker makes it easy for you to bunk classes with your friends. We basically match your low prioritized subjects with your friends!<br>Join to know more!</p>
				    </div>
				<div class="col-6 ab">
					<img src="img/Logo3.png" style="height: 300px;margin-top: 60px;">
				</div>
			</div>
			<div class="row ee">
				<div class="col-6 offset-6 ac">
				    <a href="https://www.google.com/search?q=facebook&rlz=1C1CHBF_enIN869IN869&oq=face&aqs=chrome.2.69i57j35i39l2j0l2j69i60l3.3118j0j4&sourceid=chrome&ie=UTF-8" style="color: white"><i class="fab fa-facebook fa-2x"></i></a>
					<a href="https://www.instagram.com/" style="color: white"><i class="fab fa-instagram fa-2x" style="margin: auto 10px;"></i></a>
					<a href="https://github.com/ayush-lab/bunker" style="color: white"><i class="fab fa-github fa-2x"></i></a>
				</div>	
			</div>
		</div>
<!--
		<div class="wave wave1"></div>
		<div class="wave wave2"></div>
		<div class="wave wave3"></div>
		<div class="wave wave4"></div>
-->
	</section>	
	
		<div class="container-fluid services">
		<div class="row ser">	
		  <h1 class="ml11">
		  <span class="text-wrapper">
			<span class="line line1"></span>
			<span class="letters">Our Services</span>
		  </span>
		  </h1>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		</div>
		
<!--		CAROUSEL-->
		<div class="caro">
				<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
						<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
						<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
					  </ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
							  <img src="img/logiiiin.jpg" class="d-block w-100 car" alt="...">
							  <div class="carousel-caption d-none d-md-block">
								<h5>SIGN UP for free </h5>
								<p>Pay nothing ! Start enjoying !</p>
							  </div>
						     </div>
						    <div class="carousel-item">
						      <img src="img/h3.jpg" class="d-block w-100 car" alt="...">
						      <div class="carousel-caption d-none d-md-block">
							  <h5>Make friends!</h5>
							  <p>Enjoy your time! Together!</p>
						      </div>
						    </div>
						   <div class="carousel-item">
						      <img src="img/sebastiaan-stam-RChZT-JlI9g-unsplash.jpg" class="d-block w-100 car" alt="...">
						      <div class="carousel-caption d-none d-md-block">
							  <h5>Bunk Together!</h5>
							  <p>We ain't telling anyone!</p>
						      </div>
					      </div>
                        </div>
			  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			  </a>
		  </div>
		</div>
	  </div>
		  
  <div class="container-fluid COU"> 	
  <div class="container cou">
	  
	  
	  	<div class="row ser2">	
		  <h1 class="ml12">
		  <span class="text-wrapper">
			<span class="line line1"></span>
			<span class="letters">Our Services</span>
		  </span>
		  </h1>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		</div>
	  	  
		<div class="row c1">
			<div class="col-5 rb">
		         <br><br><img src="">
			</div>
			<div class="col-1 rb"></div>
			<div class="col-6 rb1"><b>
				<h4>Machine Learning Course</h4><br>
				<p>To be a part of the changing trends, one should be aware of the core concepts and the latest advancements including aspects of Supervised, Unsupervised and the very latest and riveting field of Deep Learning. The only thing that stops students from venturing in the field is the seemingly endless nature of the Machine Learning training course and the focus on theory and tedious maths. We promise to deliver a curated experience that focuses on concept rather than concentrating on just theory with a strong boost of coding and projects that will enable one to tackle any problem and explore new areas of research and applications in Machine Learning.</p>
				<button type="button" class="btn btn-dark">Join Now</button><br><br></b>
			</div>
		</div>
		
		<div class="row c2">
			<div class="col-6 rb1"><b>
			<h4>Data Science</h4><br>
			<p>Data Science is all about extracting meaningful insights from gigabytes of data. This data science certification course will revolve around the concepts of Python, Machine Learning, Data Cleaning and Data Analysis. The online data science course will make you capable and expert of drawing conclusions from the data and taking the strategic decisions for the business to ensure better growth and performance. To be a part of the changing trends, one should be aware of the core concepts and the latest advancements including aspects of Supervised, Unsupervised and the very latest and riveting field of Deep Learning.</p>
				<button type="button" class="btn btn-dark">Join Now</button><br><br></b>
			</div>
			<div class="col-6 rb4">
			<img src="datascience.jpg">
			</div>
		</div>	
		
		<div class="row as">
			<div class="col-5 ww">
				<img src="data.jpg">
			</div>
			<div class="col-1 "></div>
			<div class="col-6 imga"><b>
				<h4>C++ Foundation with Data Structures</h4><br>
				<p>C++ is an Object Oriented Programming Language that is powerful, efficient and compact. It includes concepts like Logic building, Linked lists, Recursion, Trees, Loops, Dynamic programming and lot more. It's enhanced to be object-oriented and functions as a high-level computer programming language. Course will include solving 250 - 300 problems throughout the course which will enhance their programming skills and knowledge of data structures.</p>
				<button type="button" class="btn btn-dark">Join Now</button><br><br></b>
			</div>
		</div>
	</div>
	</div>
	
<!--	TEAM-->
	
	<div class="container-fluid team">
	    
		<div class="row teamhead">	
		  <h1 class="ml14">
		  <span class="text-wrapper">
    	  <span class="letters">Meet The Team</span>
		  <span class="line"></span>
		  </span>
		  </h1>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		</div>	
			
		 <div class="row hea1">
			
			<div class="card av text-center bg-dark" style="width:12rem;height: 400px;color: white;">
				<img class="card-img-top" style="border-radius:50%; height:123px; width:123px;margin-left:28px;margin-top: 5px;" src="/img/abhay.jpg">
				<div class="card-body">
					<h5 class="card-title">ABHAY CHAUHAN</h5>
			        <p class="card-text"><b>Frontend <br> Developer</b><br>At Kachi
					<br><br>HTML<br>|JAVASCRIPT|<br>BOOTSTRAP					
					</p>
				</div>
			</div>
			
			
			<div class="card bv text-center bg-dark" style="width:12rem;height:400px;color: white;">
				<img class="card-img-top" style="border-radius:50%; height:123px; width:123px;margin-left:28px;margin-top: 5px;" src="img/adi.jpg">
				<div class="card-body">
					
					<h5 class="card-title">ADITYA PRATAP SINGH</h5>
			        <p class="card-text"><b>Frontend <br> Developer</b><br>At Kachi
					<br><br>HTML<br>|JAVASCRIPT|<br>BOOTSTRAP					
					</p>
				</div>
			</div>
			
			
			<div class="card cv text-center bg-dark" style="width:12rem;height:400px;color: white;">
				<img class="card-img-top" style="border-radius:50%; height:123px; width:123px;margin-left:28px;margin-top: 5px;" src="img/ayush.jpg">
				<div class="card-body">
					<h5 class="card-title">AYUSH VERMA</h5>
					<p class="card-text"><b>Backend <br> Developer</b><br>At Kachi
					<br><br>PYTHON<br>|FLASK|<br>FLASK-SQLALCHEMY					
					</p>
				</div>
			</div>
			
			
			<div class="card dv text-center bg-dark" style="width:12rem;height:400px;color: white;">
				<img class="card-img-top" style="border-radius:50%; height:123px; width:123px;margin-left:28px;margin-top: 5px;" src="img/manish.jpg">
				<div class="card-body">
					<h5 class="card-title">MANISH DIKSHIT</h5>
			        <p class="card-text"><b>Graphic <br> Designer</b><br>At Kachi
					<br><br>ILLUSTATOR<br>|PHOTOSHOP|<br>DESIGNING					
					</p>	
				</div>
			</div>			 
		</div>
		<blockquote class="blockquote bq text-center"  style="font-size: 16px;"><i>
			“ALL work no play makes JACK a dull boy”</i>
	    </blockquote>
		<div class="row" style="color: white;font-size:13px;margin-top:0px;padding-bottom:40px;">
			<div class="col-2 offset-5 text-center" >
				 <i>-Kachi team</i>
	         </div>
	    </div>
		
	</div>
	
	<div class="container-fluid con">
		<div class="row" style="height: 40px;">
			<div class="col-12 vv text-center" style="font-size:22px;">
			Contact US
			</div>	
		</div>
		<div class="row" style="height: 70px;">
			<div class="col-3" style="font-size:16px;">
			Call us : 9873581613<br>
			Email : kachi_fass_gyi@gmail.com<br>
			</div>	
			<div class="col-3 offset-6 nbn">
			Copyrights &copy 2020
			</div>
		</div>
	</div>
	

	
	
	
<script src="js/bootstrap.js"></script>	
<script src="js/style.js"></script>
<script src="https://kit.fontawesome.com/79361d7429.js" crossorigin="anonymous"></script>	
</body>
</html>




















