{% extends "base.html" %}

{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lilita+One|Montserrat|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
<style>
    .form-control
    {
        border: 1px solid gold;
        width:90px;

    }
    .form-control:hover
    {
        width: 150px;
        transition: 0.5s;
    }
</style>
</head>
<body>
    <table class="table" style="background-color: gold;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Subject</th>
            <th scope="col">Priority</th>
          </tr>
        </thead>
        <tbody>
            {% for i in query %}
          <tr>
            <th scope="row">1</th>
            <td>{{i.username}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.priority}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    
    
</body>
</html>

{% endblock %}